*.ncb
/*.suo
/*.sln
/*.user
/*.sdf
Release
UDeb
URel
URel64
UDeb64
UnicodeCore.build
basolij.pbxuser
basolij.perspectivev3
oExample_OS6.xcodeproj/project.xcworkspace
oExample_OS6.xcodeproj/xcuserdata
build
example_OS61.xcodeproj/project.xcworkspace/xcuserdata
example_OS61.xcodeproj/xcuserdata
.vs
