
1   BITMAP  DISCARDABLE     "OEXAMPLE.BMP"

STRINGTABLE DISCARDABLE 
BEGIN
	1000			"Example Library"
	2000			"Example Object"
	2100            "Example NVObject"
	7000			"test:Test value"
	8000			"$testMethod:$testMethod() Just a test method that returns a test string."
	8100			"$nvTestMethod:$nvTestMethod() Just a test method that returns a test string."
	8101			"$testCallback:$testCallback() Just a test mehtod that calls back into Omnis."
	8102			"$evCallback:$evCallback() this method gets called by $testCallback."
	31000			"FrameworkWndProc"
END
